@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What's going on sonnn</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">How ya doing today, my name is Doug Dimmadome, yeet, yowzaaa</a>.</p>
</div>
